.player_container{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  max-width: 900px;
  min-width: 300px;
  width: 50%;
  border: 2px solid rgba(0, 0, 0, 0.50);
  border-radius: 1.25rem;
}

.player_control{
  min-height: 120px;
  max-height: 120px;
  height: 120px;
  background: #FFF;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.player_control img:nth-child(odd){ 
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.player_control img:nth-child(even){ 
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.player_playlist-view{
  width: 100%;
  height: calc(100vh - 220px);
  display: flex;
  flex-direction: column;
}


